In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [45]:
driver = webdriver.Chrome("C:/Users/CHITRAK/Downloads/chromedriver.exe")

In [46]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [54]:
Rank=[]
Name=[] 
Artist=[]
Upload_date=[]
Views=[]

In [55]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for d in dt:
    if d.text is None :
        Rank.append('-')
    else:
        Rank.append(d.text)

In [56]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for d in dt:
    if d.text is None :
        Name.append('-')
    else:
        Name.append(d.text)

In [57]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for d in dt:
    if d.text is None :
        Artist.append('-')
    else:
        Artist.append(d.text)

In [58]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for d in dt:
    if d.text is None :
        Upload_date.append('-')
    else:
        Upload_date.append(d.text)

In [59]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for d in dt:
    if d.text is None :
        Views.append('-')
    else:
        Views.append(d.text)

In [60]:
import pandas as pd
table=pd.DataFrame({})

table['Rank']=Rank[:30]
table['Name']=Name[:30]
table['Artist']=Artist[:30]
table['Upload Date']=Upload_date[:30]
table['Views']=Views[:30]

table

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.04
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.23
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.20
3,4.,"""See You Again""[26]",Wiz Khalifa,"April 6, 2015",4.99
4,5.,"""Johny Johny Yes Papa""[29]",LooLoo Kids,"October 8, 2016",4.87
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.41
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.10
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",3.99
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.72
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.71
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.59
11,12.,"""Sorry""[37]",Justin Bieber,"October 22, 2015",3.41
12,13.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.40
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.29
14,15.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.21
15,16.,"""Thinking Out Loud""[41]",Ed Sheeran,"October 7, 2014",3.20
16,17.,"""Dame Tu Cosita""[42]",El Chombo,"April 5, 2018",3.14
17,18.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.02
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.00
19,20.,"""Lean On""[45]",Major Lazer Official,"March 22, 2015",2.98
20,21.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",2.98
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",2.98
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",2.97
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.92
24,25.,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.87
25,26.,"""Hello""[51]",Adele,"October 22, 2015",2.79
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.76
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.75
28,29.,"""Blank Space""[54]",Taylor Swift,"November 10, 2014",2.73
29,30.,"""Chantaje""[55]",Shakira,"November 18, 2016",2.63

Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [66]:
driver = webdriver.Chrome("C:/Users/CHITRAK/Downloads/chromedriver.exe")

In [67]:
driver.get('https://www.bcci.tv/')

In [87]:
dropdown = driver.find_element_by_xpath('//button[@class="navigation__header-button menu-button js-navigation-menu-button"]')
dropdown.click()

In [88]:
dropdown = driver.find_element_by_xpath('//div[@class="navigation__expand"]')
dropdown.click()

In [89]:
dropdown_enter = driver.find_element_by_xpath('//a[@href="/international/fixtures"]')
dropdown_enter.click()

In [112]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [113]:
dt = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/strong')
for d in dt:
    Match_title.append(d.text)

In [115]:
dt = driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')
for d in dt:
    Series.append(d.text)

In [117]:
dt = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
for d in dt:
    Place.append(d.text)

In [119]:
dt = driver.find_elements_by_xpath('//span[@class="fixture__time"]')
for d in dt:
    Time.append(d.text)

In [121]:
dt = driver.find_elements_by_xpath('//span[@class="fixture__datetime tablet-only"]/strong')
for d in dt:
    Date.append(d.text)

In [123]:
import pandas as pd
table=pd.DataFrame({})

table['Match Title']=Match_title
table['Series']=Series
table['Place']=Place
table['Date']=Date
table['Time']=Time

In [124]:
table

,Match Title,Series,Place,Date,Time
0,4th Test,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Thursday 4 March,09:30 IST
1,1st T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Friday 12 March,19:00 IST
2,2nd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Sunday 14 March,19:00 IST
3,3rd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Tuesday 16 March,19:00 IST
4,4th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Thursday 18 March,19:00 IST
5,5th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Saturday 20 March,19:00 IST
6,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Tuesday 23 March,13:30 IST
7,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Friday 26 March,13:30 IST
8,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Sunday 28 March,13:30 IST
9,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 4 August,15:30 IST
10,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12 August,15:30 IST
11,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25 August,15:30 IST
12,4th Test,ENGLAND V INDIA 2021,"The Oval, London",Thursday 2 September,15:30 IST
13,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10 September,15:30 IST

Q3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [84]:
driver = webdriver.Chrome("C:/Users/CHITRAK/Downloads/chromedriver.exe")

In [85]:
driver.get('https://www.guru99.com/')

In [86]:
driver.find_element_by_xpath('//a[@title="Selenium"]').click()

In [87]:
driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [88]:
Name=[]
Description=[]

In [89]:
dt = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for d in dt:
    Name.append(d.text)

In [90]:
dt = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for d in dt:
    Description.append(d.text)

In [91]:
import pandas as pd
table=pd.DataFrame({})

table['Name']=Name[1:50]
table['Description']=Description[1:50]

table

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Q4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [12]:
driver = webdriver.Chrome("C:/Users/CHITRAK/Downloads/chromedriver.exe")

In [13]:
driver.get('http://statisticstimes.com/')

In [17]:
button=driver.find_elements_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]')
button[0].click()

In [18]:
Rank=[]
State=[]
GSDP19_20=[]
GSDP18_19=[]
Share2018=[]
GDP_billion=[]

In [19]:
dt = driver.find_elements_by_xpath('//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]')
dt[0].click()

In [20]:
dt = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[1]')
for d in dt:
    Rank.append(d.text)

In [21]:
dt = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]')
for d in dt:
    State.append(d.text)

In [22]:
dt = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]')
for d in dt:
    GSDP19_20.append(d.text)

In [23]:
dt = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]')
for d in dt:
    GSDP18_19.append(d.text)

In [24]:
dt = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]')
for d in dt:
    Share2018.append(d.text)

In [25]:
dt = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[6]')
for d in dt:
    GDP_billion.append(d.text)

In [26]:
import pandas as pd
table=pd.DataFrame({})

table['Rank']=Rank
table['State']=State
table['GSDP(19-20)']=GSDP19_20
table['GSDP(18-19)']=GSDP18_19
table['Share(18-19)']=Share2018
table['GDP($billion)']=GDP_billion

table

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($billion)
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"521,275","487,805",2.57%,73.768
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,"80,449","73,170",0.39%,11.065
23,24,Tripura,"55,984","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"38,253","34,433",0.18%,5.207
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,"31,790","27,870",0.15%,4.215
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,"26,503","22,287",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

Q5.Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used.

In [27]:
driver = webdriver.Chrome("C:/Users/CHITRAK/Downloads/chromedriver.exe")

In [28]:
driver.get('https://github.com/')

In [30]:
button=driver.find_elements_by_xpath('//div[@class="dropdown-menu flex-auto rounded-1 color-bg-primary px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4"]/ul[2]/li[3]')
button[0].click()

In [54]:
Repository_title=[]
Repository_description=[]
Contributors_count=[] 
Language_used=[]

In [55]:
dt = driver.find_elements_by_xpath('//span[@class="text-normal"]')
for d in dt:
    if d.text is None :
        Repository_title.append('-')
    else:
        Repository_title.append(d.text)

In [56]:
dt = driver.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]')
for d in dt:
    if d.text is None :
        Repository_description.append('-')
    else:
        Repository_description.append(d.text)

In [57]:
dt = driver.find_elements_by_xpath('//div[@class="f6 color-text-secondary mt-2"]/a[2]')
for d in dt:
    if d.text is None :
        Contributors_count.append('-')
    else:
        Contributors_count.append(d.text)

In [58]:
dt = driver.find_elements_by_xpath('//span[@itemprop="programmingLanguage"]')
for d in dt:    
    if d.text is None :
            Language_used.append('-') 
    else:
            Language_used.append(d.text)

In [60]:
import pandas as pd
table=pd.DataFrame({})

table['Repository Title']=Repository_title[:22]
table['Repository Description']=Repository_description[:22]
table['Contributors Count']=Contributors_count[:22]
table['Language Used']=Language_used[:22]

table

,Repository Title,Repository Description,Contributors Count,Language Used
0,muguruzawang /,优化版本的京东茅台抢购神器,"4,257",Python
1,tostercx /,The elegant TALL stack admin for Laravel artis...,108,C
2,laravel-filament /,"PaddlePaddle GAN library, including lots of in...",42,PHP
3,PaddlePaddle /,A posix script to find and watch youtube video...,284,Python
4,pystardust /,AWS SDK for the Go programming language.,53,Shell
5,aws /,Googletest - Google Testing and Mocking Framework,"1,642",Go
6,google /,Demisto is now Cortex XSOAR. Automate and orch...,"7,261",C++
7,demisto /,Power Fx low-code programming language,605,Python
8,microsoft /,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",35,C++
9,bytemaster /,"An open source code editor for the web, writte...",18,JavaScript
10,microsoft /,A curated list of engineering blogs,"2,859",JavaScript
11,adobe /,"Scalable datastore for metrics, events, and re...","6,920",Ruby
12,kilimchoi /,Opensource chatting framework for generative m...,275,Go
13,influxdata /,"🕸 No-bullshit answers to the famous h5bp ""Fron...","2,899",Python
14,hyunwoongko /,🏗 forkable Ethereum dev stack focused on fast ...,12,JavaScript
15,yangshun /,Firebase iOS SDK,"4,033",JavaScript
16,austintgriffith /,StudioGAN is a Pytorch library providing imple...,318,Objective-C
17,firebase /,Generic Signature Format for SIEM Systems,752,Python
18,POSTECH-CVLab /,cvpr2021/cvpr2020/cvpr2019/cvpr2018/cvpr2017 论...,101,Python
19,SigmaHQ /,A workbench for writing toy implementations of...,932,Clojure
20,extreme-assistant /,The React Framework,"1,413",JavaScript
21,jepsen-io /,📡 PoC auto collect from GitHub. ⚠️ Be careful ...,17,Go

Q6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [3]:
driver = webdriver.Chrome("C:/Users/CHITRAK/Downloads/chromedriver.exe")

In [4]:
driver.get('https://www.billboard.com/')

In [5]:
button=driver.find_elements_by_xpath('//nav[@class="header__subnav bg--light"]/ul/li[3]/a')
button[0].click()

In [6]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [7]:
dt = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for d in dt:
    if d.text is None :
        Song_name.append('-')
    else:
        Song_name.append(d.text)

In [8]:
dt = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for d in dt:
    if d.text is None :
        Artist_name.append('-')
    else:
        Artist_name.append(d.text)

In [9]:
dt = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for d in dt:
    if d.text is None :
        Last_week_rank.append('-')
    else:
        Last_week_rank.append(d.text)

In [10]:
dt = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for d in dt:
    if d.text is None :
        Peak_rank.append('-')
    else:
        Peak_rank.append(d.text)

In [11]:
dt = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for d in dt:
    if d.text is None :
        Weeks_on_board.append('-')
    else:
        Weeks_on_board.append(d.text)

In [12]:
import pandas as pd
table=pd.DataFrame({})

table['Song Name']=Song_name
table['Artist Name']=Artist_name
table['Last Week Rank']=Last_week_rank
table['Peak Rank']=Peak_rank
table['Weeks On Board']=Weeks_on_board

table

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,2,17
4,Blinding Lights,The Weeknd,4,1,64
...,...,...,...,...,...
95,The Business,Tiesto,-,96,1
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,Monster,Shawn Mendes & Justin Bieber,91,8,14
98,Track Star,Mooski,-,99,1
99,Like I Want You,Giveon,95,95,2

Q7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [125]:
driver = webdriver.Chrome("C:/Users/CHITRAK/Downloads/chromedriver.exe")

In [126]:
driver.get(' https://www.naukri.com/')

In [144]:
button=driver.find_elements_by_xpath('//ul[@class="midSec menu"]/li[2]')
button[0].click()

In [147]:
driver.switch_to.window(driver.window_handles[1])

In [151]:
search_job = driver.find_element_by_xpath("//input[@class='sugInp']")
search_job.send_keys("Data science")
search_btn = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_btn.click()

In [175]:
Name=[]
Designation=[]
Company=[]
Skills_required=[]
Location=[]

In [177]:
for page in range(0,120):
    
    dt = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
    for d in dt:
        if d.text is None :
            Name.append('-')
        else:
            Name.append(d.text)
            
    dt = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
    for d in dt:
        if d.text is None :
            Designation.append('-')
        else:
            Designation.append(d.text)        
    
    dt = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
    for d in dt:
        if d.text is None :
            Company.append('-')
        else:
            Company.append(d.text)
            
    dt = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
    for d in dt:
        if d.text is None :
            Skills_required.append('-')
        else:
            Skills_required.append(d.text)       
            
    dt = driver.find_elements_by_xpath('//small[@class="ellipsis"]')
    for d in dt:
        if d.text is None :
            Location.append('-')
        else:
            Location.append(d.text)

In [185]:
import pandas as pd
table=pd.DataFrame({})

table['Name']=Name[:8000]
table['Designation']=Designation[:8000]
table['Company']=Company[:8000]
table['Skills they hire for']=Skills_required[:8000]
table['Location']=Location[:8000]

table

,Name,Designation,Company,Skills they hire for,Location
0,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
1,Shailaja.N,Company Recruiter,Kigyan School of Data Science Pvt.Ltd.,Not Specified,Bengaluru / Bangalore
2,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
3,vidya bhushan singh,jaipur,Next Data Science,Business Analysis,Jaipur
4,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
...,...,...,...,...,...
7995,Mamta Rawat,Technical Recruiter,Gelegenheit Management Private Limited,Not Specified,Bengaluru / Bangalore
7996,Pradeep,Director,Inteliment Technologies,Not Specified,Gurgaon
7997,Naga Deepika AlgoSquare,Consultant HR,CBL Data Science Private Limited,Not Specified,Noida
7998,Vanitha Senkurichi,Company HR,Augment Systems Pvt Ltd,"sql, Ui Development, ssis, Data Modeling, Data...",Pune
7999,Hansraj B Surti,Talent Acquisition Specialist,Data Science Technologies,"Devops, Storage, Web Technology, Microsoft Tec...",Noida

Q8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [13]:
driver = webdriver.Chrome("C:/Users/CHITRAK/Downloads/chromedriver.exe")

In [14]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [15]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [16]:
dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for d in dt:
    if d.text is None :
        Book_name.append('-')
    else:
        Book_name.append(d.text)

In [17]:
dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for d in dt:
    if d.text is None :
        Author_name.append('-')
    else:
        Author_name.append(d.text)

In [18]:
dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for d in dt:
    if d.text is None :
        Volumes_sold.append('-')
    else:
        Volumes_sold.append(d.text)

In [19]:
dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for d in dt:
    if d.text is None :
        Publisher.append('-')
    else:
        Publisher.append(d.text)

In [20]:
dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for d in dt:
    if d.text is None :
        Genre.append('-')
    else:
        Genre.append(d.text)

In [21]:
import pandas as pd
table=pd.DataFrame({})

table['Book Name']=Book_name
table['Author Name']=Author_name
table['Volumes Sold']=Volumes_sold
table['Publisher']=Publisher
table['Genre']=Genre

table

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9.Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [22]:
driver = webdriver.Chrome("C:/Users/CHITRAK/Downloads/chromedriver.exe")

In [23]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [24]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[] 
Ratings=[]
Votes=[]

In [25]:
dt = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for d in dt:
    if d.text is None :
        Name.append('-')
    else:
        Name.append(d.text)

In [26]:
dt = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for d in dt:
    if d.text is None :
        Year_span.append('-')
    else:
        Year_span.append(d.text)

In [27]:
dt = driver.find_elements_by_xpath('//span[@class="genre"]')
for d in dt:
    if d.text is None :
        Genre.append('-')
    else:
        Genre.append(d.text)

In [28]:
dt = driver.find_elements_by_xpath('//span[@class="runtime"]')
for d in dt:
    if d.text is None :
        Run_time.append('-')
    else:
        Run_time.append(d.text)

In [29]:
dt = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')
for d in dt:
    if d.text is None :
        Ratings.append('-')
    else:
        Ratings.append(d.text)

In [30]:
dt = driver.find_elements_by_xpath('//span[@name="nv"]')
for d in dt:
    if d.text is None :
        Votes.append('-')
    else:
        Votes.append(d.text)

In [31]:
import pandas as pd
table=pd.DataFrame({})

table['Name']=Name
table['Year Span']=Year_span
table['Genre']=Genre
table['Run Time']=Run_time
table['Votes']=Votes

table

,Name,Year Span,Genre,Run Time,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,"1,777,845"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,"828,495"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,"856,581"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,"257,160"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"217,668"
...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,"43,761"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,"54,076"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,"162,175"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,"34,193"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,"183,809"

Q10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [32]:
driver = webdriver.Chrome("C:/Users/CHITRAK/Downloads/chromedriver.exe")

In [33]:
driver.get('https://archive.ics.uci.edu/ml/index.php')

In [34]:
d = driver.find_element_by_xpath('//span[@class="normal"]/b')
d.click()

In [35]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
instances=[]
attribute=[]
Year=[]

In [36]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b')
for d in dt:
    if d.text is None :
        Dataset_name.append('-')
    else:
        Dataset_name.append(d.text)

In [37]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[2]')
for d in dt:
    if d.text is None :
        Data_type.append('-')
    else:
        Data_type.append(d.text)

In [38]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[3]')
for d in dt:
    if d.text is None :
        Task.append('-')
    else:
        Task.append(d.text)

In [39]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[4]')
for d in dt:
    if d.text is None :
        Attribute_type.append('-')
    else:
        Attribute_type.append(d.text)

In [40]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[5]')
for d in dt:
    if d.text is None :
        instances.append('-')
    else:
        instances.append(d.text)

In [41]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[6]')
for d in dt:
    if d.text is None :
        attribute.append('-')
    else:
        attribute.append(d.text)

In [42]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[7]')
for d in dt:
    if d.text is None :
        Year.append('-')
    else:
        Year.append(d.text)

In [43]:
print(len(Dataset_name))
print(len(Data_type))
print(len(Task))
print(len(Attribute_type))
print(len(instances))
print(len(attribute))
print(len(Year))

585
586
586
586
586
586
586

In [44]:
import pandas as pd
table=pd.DataFrame({})

table['Dataset Name']=Dataset_name
table['Data Type']=Data_type[1:586]
table['Task']=Task[1:586]
table['Attribute Type']=Attribute_type[1:586]
table['Instances']=instances[1:586]
table['Attribute']=attribute[1:586]
table['Year']=Year[1:586]


table

,Dataset Name,Data Type,Task,Attribute Type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020